@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
  font-family: "Nunito", sans-serif;
  color: #333;
  background: #dcecf5;
  width: 100vw;
}

a {
  color: #555;
  text-decoration: none;
  transition: color 750ms 100ms ease;
}
a:hover {
  color: tomato;
}

#main {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 0 auto 2em;
  opacity: 1;
  transition: opacity 750ms;
  overflow-x: hidden;
}

.marquee {
  display: inline-block;
  top: 0;
  margin-top: 1em;
  left: 50%;
  height: auto;
  font-size: 16px;
  max-width: 80vw;
}
.marquee h1 {
  font-size: 1.5em;
}
.marquee h2 {
  font-size: 1em;
}

.intro {
  margin-top: 40vh;
  height: 5%;
  transition: all 1s;
  font-size: clamp(1.15rem, -0.89rem + 5.44vw, 2rem);
}

#online {
  display: inline-block;
}

#directory {
  margin-top: 0.5em;
  transition: all 750ms;
}

.menu {
  margin-bottom: 4px;
}
.menu > a {
  font-size: 1.2em;
}

.sublink {
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
  transition: color 750ms 100ms ease;
}
.sublink:hover {
  color: tomato;
}

.submenu {
  margin: 0 auto;
  margin-bottom: 0px;
  max-height: 0px;
  clear: both;
  overflow: hidden;
  width: 70%;
  max-width: 500px;
  padding: 0 0.5em;
  text-align: center;
  transition: all 750ms ease-out;
  transition-delay: 0s;
}
@media screen and (max-width: 787px) {
  .submenu {
    width: 100%;
  }
}
.submenu#digital-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 700px;
  flex-wrap: wrap;
  gap: 8px;
}
.submenu#digital-menu div {
  width: 45%;
  min-width: 220px;
  text-align: left;
  padding: 12px 8px 0px;
}
.submenu#digital-menu div h3, .submenu#digital-menu div h4 {
  margin-bottom: 0.25em;
}
.submenu#digital-menu div ul {
  padding-left: 0.5em;
  list-style-type: none;
}
.submenu#digital-menu div ul li {
  text-indent: 0%;
  margin-bottom: 0.3em;
  line-height: 1;
}
.submenu#digital-menu div ul li span {
  padding-left: 0.25em;
  font-size: 0.7em;
}
.submenu#et-cetera-menu ul {
  text-align: center;
}
.submenu ul {
  display: block;
  margin: 0 auto;
  text-align: left;
  list-style: circle;
}
.submenu ul li {
  text-indent: 0.5em;
}
.submenu ul li a {
  font-size: 1em;
}
.submenu ul li a:hover {
  color: tomato;
}
.submenu ul li a.gitlink {
  font-size: 0.75em;
  color: rgb(110, 99, 110);
}
.submenu ul li a.gitlink:hover {
  color: rgb(146, 59, 146);
}

.icon-menu {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  gap: 6px;
  font-size: 24px;
}
.icon-menu a img {
  cursor: pointer;
  transition: opacity 300ms ease;
}
.icon-menu a img:hover {
  opacity: 0.6;
}

#replay {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  cursor: pointer;
}
#replay ion-icon {
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1000ms;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 2000ms;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2500ms;
}

.animate__animated.animate__jackInTheBox {
  --animate-duration: 750ms;
}

@keyframes intro-finish {
  0% {
    margin-top: 40vh;
    font-size: clamp(1.15rem, -0.89rem + 5.44vw, 2rem);
  }
  100% {
    margin-top: 2.5%;
    font-size: 1em;
  }
}
@keyframes intro-finish-mobile {
  0% {
    transform: scale(1.35) translateY(20vh);
    font-size: inherit;
  }
  100% {
    transform: scale(1) translateY(0vh);
    font-size: 1em;
  }
}
.animate__intro-finish {
  animation: intro-finish 1000ms;
}

@media screen and (max-width: 600px) {
  #main {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  #directory {
    font-size: 14px;
  }
}
@media (hover: none) {
  body {
    background: #ddf5dc;
  }
  .intro {
    margin-top: 2.5%;
    height: 5vh;
    font-size: inherit;
    transform: scale(1.35) translateY(20vh);
  }
  .animate__intro-finish {
    animation: intro-finish-mobile 1000ms;
  }
}/*# sourceMappingURL=style.css.map */