@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  color: #333;
  background: #dcecf5;
  height: 100%;
  width: 100vw;
}

#main {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
}

.marquee {
  display: inline-block;
  top: 0;
  margin-top: 2.5%;
  left: 50%;
  height: auto;
  font-size: 16px;
  max-width: 80vw;
}

.marquee h1 {
  font-size: 1.5em;
}

.marquee h2 {
  font-size: 1em;
}

.intro {
  margin-top: 40vh;
  height: 5%;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: clamp(1.15rem, calc(-0.89rem + 5.44vw), 2rem);
}

#online {
  display: inline-block;
}

#directory {
  margin-top: .5em;
  -webkit-transition: all 750ms;
  transition: all 750ms;
}

.menu {
  margin-bottom: 4px;
}

.menu a {
  color: #666;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-transition: color 750ms 100ms ease;
  transition: color 750ms 100ms ease;
}

.menu a:hover {
  color: crimson;
}

.sublink {
  display: block;
  margin-bottom: 2px;
}

.submenu {
  margin: 0 auto;
  margin-bottom: 0px;
  max-height: 0px;
  clear: both;
  overflow: hidden;
  width: 70%;
  max-width: 450px;
  text-align: center;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.submenu > ul {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  list-style: circle;
}

.submenu > ul li {
  text-indent: 0.5em;
}

.submenu > ul li a {
  color: #8b8282;
  font-size: 1em;
}

.submenu > ul li a:hover {
  color: tomato;
}

.submenu > ul li a.gitlink {
  font-size: .75em;
  color: #6e636e;
}

.submenu > ul li a.gitlink:hover {
  color: #923b92;
}

.icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  gap: 6px;
  font-size: 24px;
}

#replay {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
}

#replay ion-icon {
  font-size: 24px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1000ms;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 2000ms;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2500ms;
}

.animate__animated.animate__jackInTheBox {
  --animate-duration: 750ms;
}

@-webkit-keyframes intro-finish {
  0% {
    margin-top: 40vh;
    font-size: clamp(1.15rem, calc(-0.89rem + 5.44vw), 2rem);
  }
  100% {
    margin-top: 2.5%;
    font-size: 1em;
  }
}

@keyframes intro-finish {
  0% {
    margin-top: 40vh;
    font-size: clamp(1.15rem, calc(-0.89rem + 5.44vw), 2rem);
  }
  100% {
    margin-top: 2.5%;
    font-size: 1em;
  }
}

@-webkit-keyframes intro-finish-mobile {
  0% {
    -webkit-transform: scale(1.35) translateY(20vh);
            transform: scale(1.35) translateY(20vh);
    font-size: inherit;
  }
  100% {
    -webkit-transform: scale(1) translateY(0vh);
            transform: scale(1) translateY(0vh);
    font-size: 1em;
  }
}

@keyframes intro-finish-mobile {
  0% {
    -webkit-transform: scale(1.35) translateY(20vh);
            transform: scale(1.35) translateY(20vh);
    font-size: inherit;
  }
  100% {
    -webkit-transform: scale(1) translateY(0vh);
            transform: scale(1) translateY(0vh);
    font-size: 1em;
  }
}

.animate__intro-finish {
  -webkit-animation: intro-finish 1000ms;
          animation: intro-finish 1000ms;
}

@media screen and (max-width: 600px) {
  #main {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #directory {
    font-size: 14px;
  }
}

@media (hover: none) {
  body {
    background: #ddf5dc;
  }
  .intro {
    margin-top: 2.5%;
    height: 5vh;
    font-size: inherit;
    -webkit-transform: scale(1.35) translateY(20vh);
            transform: scale(1.35) translateY(20vh);
  }
  .animate__intro-finish {
    -webkit-animation: intro-finish-mobile 1000ms;
            animation: intro-finish-mobile 1000ms;
  }
}
/*# sourceMappingURL=style.css.map */