// 
// IMPORTS / VARIABLES

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// clamp calculation found here:
// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
$introFontSize: clamp(1.15rem, calc(-0.89rem + 5.44vw), 2rem);

// 
// RESET

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  color: #333;
  background: #dcecf5;
  width: 100vw;
  height: 100%;
}

//
// GLOBAL
a {
  color: #555;
  text-decoration: none;
  transition: color 750ms 100ms ease;
  &:hover {
    color: tomato;
  }
}


// 
// BLOCKS

#main {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 750ms;
  height: 100%;
}

.marquee {
  display: inline-block;
  top: 0;
  margin-top: 2.5%;
  padding-top: .5em;
  left: 50%;
  height: auto;
  font-size: 16px;
  max-width: 80vw;
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
}

.intro {
  margin-top: 40vh;
  height: 5%;
  transition: all 1s;
  font-size: $introFontSize;
}

#online {
  display: inline-block;
}

#directory {
  margin-top: .5em;
  transition: all 750ms;
  padding-bottom: 1em;
}

.menu {
  margin-bottom: 4px;
  > a {
    font-size: 1.2em;
  }
}

.sublink {
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
  transition: color 750ms 100ms ease;
  &:hover {
    color: tomato;
  }
}

.submenu {
  margin: 0 auto;
  margin-bottom: 0px;
  max-height: 0px;
  clear: both;
  overflow: hidden;
  width: 70%;
  max-width: 500px;
  padding: 0 .5em;
  text-align: center;
  transition: all 750ms ease-out;
  transition-delay: 0s;
  @media screen and (max-width: 787px) {
    width: 100%;
  }

  &#digital-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 700px;
    flex-wrap: wrap;
    gap: 8px;

    div {
      width: 45%;
      min-width: 220px;
      text-align: left;
      padding: 12px 8px 0px;

      h3, h4 {
        margin-bottom: .25em;
      }

      ul {
        padding-left: .5em;
        list-style-type: none;
        li {
          text-indent: 0%;
          margin-bottom: .3em;
          line-height: 1;
          span {
            padding-left: .25em;
            font-size: .7em;
          }
        }
      }
    }
  }

  &#et-cetera-menu {
    ul {
      text-align: center;
    }
  }

  ul {
    display: block;
    margin: 0 auto;
    text-align: left;
    list-style: circle;

    li {
      text-indent: 0.5em;

      a {
        font-size: 1em;

        &:hover {
          color: tomato;
        }

        &.gitlink {
          font-size: .75em;
          color: rgb(110, 99, 110);

          &:hover {
            color: rgb(146, 59, 146);
          }
        }
      }
    }
  }

  
}

.icon-menu {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  gap: 6px;
  font-size: 24px;
  a {
    img {
      cursor: pointer;
      transition: opacity 300ms ease;
      &:hover {
        opacity: .6;
      }
    }
  }
}

#replay {
  width: fit-content;
  display: block;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  cursor: pointer;
  ion-icon {
    font-size: 24px;
    cursor: pointer;
  }
}


// 
// UTILITY

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}


// 
// ANIMATIONS

.animate__animated.animate__fadeIn {
  --animate-duration: 1000ms;
}
.animate__animated.animate__fadeInDown {
  --animate-duration: 2000ms;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2500ms;
}
.animate__animated.animate__jackInTheBox {
  --animate-duration: 750ms;
}

@keyframes intro-finish {
  0% {
    margin-top: 40vh;
    font-size: $introFontSize;
  }
  100% {
    margin-top: 2.5%;
    font-size: 1em;
  }
}


@keyframes intro-finish-mobile {
  0% {
    transform: scale(1.35) translateY(20vh);
    font-size: inherit;
  }
  100% {
    transform: scale(1) translateY(0vh);
    font-size: 1em;
  }
}

.animate__intro-finish {
  animation: intro-finish 1000ms;
}


// 
// RESPONSIVE SIZING

@media screen and (max-width: 600px) {
  #main {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #directory {
    font-size: 14px;
  }
}

// 
// IOS
@media (hover: none) {
  body {
    background: #ddf5dc;
  }

  .intro {
    margin-top: 2.5%;
    height: 5vh;
    font-size: inherit;
    transform: scale(1.35) translateY(20vh);
  }

  .animate__intro-finish {
    animation: intro-finish-mobile 1000ms;
  }
}