@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// Defaults
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  color: #333;
  background: #dcecf5;
}

// Text Styles
a {
  color: #666;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 750ms 100ms ease;
  &:hover {
    color: crimson;
  }
}
ul {
  list-style: none;
}
li.menu {
  margin-bottom: 0.2em;
}
ul.submenu li {
  text-indent: 0.5em;
  a {
    color: #999;
    font-size: 1em;
    &:hover {
      color: tomato;
    }
  }
}

// Blocks

#main {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.directory {
  margin: 1em;
}

.marquee {
  position: absolute;
  
  text-align: left;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  height: auto;
  transition: all 1s;
  h1 {
    font-size: 1.5em;
    transition: font-size 1s;
  }
  h2 {
    font-size: 1em;
    transition: font-size 1s;
  }
}

.intro {
  text-align: center;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5vh;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}

.hidden {
  display: none;
}

#online {
  display: inline-block;
  opacity: 0;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2500ms;
}
.animate__animated.animate__jackInTheBox {
  --animate-duration: 750ms;
}

@media screen and (max-width: 850px) {
  .intro {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.33em;
    }
  }
}

@media screen and (max-width: 600px) {
  .intro {
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.15em;
    }
  }
}